body {
  background-color: #1b1c1d;
  color:white;
  font-family: "Shadower", Georgia; 
  text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    /* left: 50%; */
    text-align: center;
  }

  #enter-button {
    background-color: aqua;
    color: white;
    /* padding: 16px 20px; */
    padding-left: 1%;
    /* font-size:75%; */
    padding-top: 2%;
    padding-right:1%;
    padding-bottom:2%;
    margin: 8px 0; 
    border: none;
    cursor: pointer;
    width: 15%;
    text-align:center;
    opacity: 0.9;
  }