/* Webfont: Shadower-Bold */@font-face {
    font-family: 'Shadower';
    src: url('Shadower.eot'); /* IE9 Compat Modes */
    src: url('Shadower.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Shadower.woff') format('woff'), /* Modern Browsers */
         url('Shadower.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

